<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.csits.demo.mapper.SysPermissionMapper">

    <resultMap id="BaseResultMap" type="org.csits.demo.domain.SysPermission">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="parent_id" column="parent_id" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
            <result property="component" column="component" jdbcType="VARCHAR"/>
            <result property="component_name" column="component_name" jdbcType="VARCHAR"/>
            <result property="redirect" column="redirect" jdbcType="VARCHAR"/>
            <result property="menu_type" column="menu_type" jdbcType="INTEGER"/>
            <result property="perms" column="perms" jdbcType="VARCHAR"/>
            <result property="perms_type" column="perms_type" jdbcType="VARCHAR"/>
            <result property="sort_no" column="sort_no" jdbcType="DOUBLE"/>
            <result property="always_show" column="always_show" jdbcType="TINYINT"/>
            <result property="icon" column="icon" jdbcType="VARCHAR"/>
            <result property="is_route" column="is_route" jdbcType="TINYINT"/>
            <result property="is_leaf" column="is_leaf" jdbcType="TINYINT"/>
            <result property="keep_alive" column="keep_alive" jdbcType="TINYINT"/>
            <result property="hidden" column="hidden" jdbcType="TINYINT"/>
            <result property="hide_tab" column="hide_tab" jdbcType="TINYINT"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="create_by" column="create_by" jdbcType="VARCHAR"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="update_by" column="update_by" jdbcType="VARCHAR"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="del_flag" column="del_flag" jdbcType="INTEGER"/>
            <result property="rule_flag" column="rule_flag" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="internal_or_external" column="internal_or_external" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,parent_id,name,
        url,component,component_name,
        redirect,menu_type,perms,
        perms_type,sort_no,always_show,
        icon,is_route,is_leaf,
        keep_alive,hidden,hide_tab,
        description,create_by,create_time,
        update_by,update_time,del_flag,
        rule_flag,status,internal_or_external
    </sql>
</mapper>
